﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="Shortcut icon" href="~/favicon.png" type="image/x-icon" />
    <title>@ViewBag.Title</title>

    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/bootstrap/dist/css/bootstrap.css">

    <!-- Bootstrap-extend -->
    <link rel="stylesheet" href="~/cryptoadmin/crypto-currency-admin/src/css/bootstrap-extend.css">

    <!-- theme style -->
    <link rel="stylesheet" href="~/cryptoadmin/crypto-currency-admin/src/css/master_style.css">

    <!-- Crypto_Admin skins -->
    <link rel="stylesheet" href="~/cryptoadmin/crypto-currency-admin/src/css/skins/_all-skins.css">

    <link href="~/custom-admin.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery 3 -->
    <script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 4.0-->
    <script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- This is data table -->
    <script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
</head>

<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index","HomeAdmin")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <b class="logo-mini">
                    <span class="light-logo"><img src="~/cryptoadmin/crypto-currency-admin/images/logo-light.png" alt="logo"></span>
                    <span class="dark-logo"><img src="~/cryptoadmin/crypto-currency-admin/images//logo-dark.png" alt="logo"></span>
                </b>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <img src="~/cryptoadmin/crypto-currency-admin/images//logo-light-text.png" alt="logo" class="light-logo">
                    <img src="~/cryptoadmin/crypto-currency-admin/images//logo-dark-text.png" alt="logo" class="dark-logo">
                </span>
            </a>
            <!-- Header Navbar -->
            @Html.Partial("_PartialNav")
        </header>
        <div class="modal fade" id="modal-doipass" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Đổi mật khẩu</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <h5>Mật khẩu hiện tại<span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="password" placeholder="Nhập mật khẩu hiện tại" id="txt_oldpass" class="form-control" required="required"> <div class="help-block"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <h5>Mật khẩu mới<span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input class="form-control" placeholder="Mật khẩu mới" id="txt_newpass1" required="required"> <div class="help-block"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <h5>Xác nhận mật khẩu<span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input class="form-control" type="password" placeholder="Nhập lại mật khẩu mới" id="txt_newpass2" required="required"> <div class="help-block"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                            <button id="btnSave_Change_Pass" class="btn btn-primary float-left">Đổi mật khẩu</button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="ulogo">
                        <a href="@Url.Action("Index","Home")">
                            <span><b>VMO </b>Holdings</span>
                        </a>
                    </div>
                    <div class="image">
                        <img src="~/cryptoadmin/crypto-currency-admin/images//user2-160x160.jpg" class="rounded-circle" alt="User Image">
                    </div>
                    <div class="info">
                        <p> PTIT dev</p>
                    </div>
                </div>
                <!-- sidebar menu -->
                <style>
                    .text-long {
                        padding: 10px !important
                    }
                </style>
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="nav-devider"></li>
                    @*<li class="header nav-small-cap">Menu</li>*@
                    <li class="treeview navv">
                        <a href="#">
                            <i class="icon-grid"></i>
                            <span>Quản lý Danh mục</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li data="DonVi"><a href="@Url.Action("Index","DonVi")">Đơn vị</a></li>
                            <li data="DM_LoaiHopDong"><a href="@Url.Action("Index","DM_LoaiHopDong")">Loại hợp đồng</a></li>
                            <li data="DM_Benhvien"><a href="@Url.Action("Index","DM_Benhvien")">Bệnh viện</a></li>
                            <li data="DM_TaiSanCapPhat"><a href="@Url.Action("Index","DM_TaiSanCapPhat")">Tài sản cấp phát</a></li>
                            <li data="DM_ThamSoHeThong"><a href="@Url.Action("Index","DM_ThamSoHeThong")">Tham số hệ thống</a></li>
                            <li data="dm_quocgia"><a href="@Url.Action("Index","DM_QuocGia")">Quốc Gia</a></li>
                            <li data="dm_tinhthanh"><a href="@Url.Action("Index","DM_TinhThanh")">Tỉnh Thành</a></li>
                            <li data="dm_quanhuyen"><a href="@Url.Action("Index","DM_QuanHuyen")">Quận Huyện</a></li>
                            <li data="dm_xaphuong"><a href="@Url.Action("Index","DM_XaPhuong")">Phường Xã</a></li>
                            <li data="DM_NganHang"><a href="@Url.Action("Index","DM_NganHang")">Ngân hàng</a></li>
                            <li data="DM_ChiNhanhNganHang"><a href="@Url.Action("Index","DM_ChiNhanhNganHang")">Chi nhánh ngân hàng</a></li>
                        </ul>
                    </li>
                    <li>
                        <a data="Trip" href="@Url.Action("Index","Trip")">
                            <i class="icon-grid"></i>
                            <span>Tip</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>                        
                    </li>
                </ul>
            </section>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        @RenderBody()
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            @*<div class="pull-right d-none d-sm-inline-block">
                    <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Purchase Now</a>
                        </li>
                    </ul>
                </div>*@
            &copy; 2021 <a href="#">FPT Software</a>. All Rights Reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="nav-item"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li class="nav-item"><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-cog fa-spin"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Admin Birthday</h4>

                                    <p>Will be July 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Jhone Updated His Profile</h4>

                                    <p>New Email : jhone_doe@demo.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Disha Joined Mailing List</h4>

                                    <p>disha@demo.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Code Change</h4>

                                    <p>Execution time 15 Days</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Web Design
                                    <span class="label label-danger pull-right">40%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 40%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Data
                                    <span class="label label-success pull-right">75%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 75%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Order Process
                                    <span class="label label-warning pull-right">89%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 89%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Development
                                    <span class="label label-primary pull-right">72%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 72%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <input type="checkbox" id="report_panel" class="chk-col-grey">
                            <label for="report_panel" class="control-sidebar-subheading ">Report panel usage</label>

                            <p>
                                general settings information
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <input type="checkbox" id="allow_mail" class="chk-col-grey">
                            <label for="allow_mail" class="control-sidebar-subheading ">Mail redirect</label>

                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <input type="checkbox" id="expose_author" class="chk-col-grey">
                            <label for="expose_author" class="control-sidebar-subheading ">Expose author name</label>

                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <h3 class="control-sidebar-heading">Chat Settings</h3>

                        <div class="form-group">
                            <input type="checkbox" id="show_me_online" class="chk-col-grey">
                            <label for="show_me_online" class="control-sidebar-subheading ">Show me as online</label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <input type="checkbox" id="off_notifications" class="chk-col-grey">
                            <label for="off_notifications" class="control-sidebar-subheading ">Turn off notifications</label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                <a href="javascript:void(0)" class="text-red margin-r-5"><i class="fa fa-trash-o"></i></a>
                                Delete chat history
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

    </div>
    <!-- ./wrapper -->
    <!-- popper -->
    <script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/popper/dist/popper.min.js"></script>

    <!-- Slimscroll -->
    <script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- FastClick -->
    <script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/fastclick/lib/fastclick.js"></script>

    <!-- webticker -->
    <script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/Web-Ticker-master/jquery.webticker.min.js"></script>


    <!-- Crypto_Admin App -->
    <script src="~/cryptoadmin/crypto-currency-admin/src/js/template.js"></script>

    <!-- Crypto_Admin dashboard demo (This is only for demo purposes) -->
    <script src="~/cryptoadmin/crypto-currency-admin/src/js/pages/dashboard.js"></script>

    <!-- Crypto_Admin for demo purposes -->
    <script src="~/cryptoadmin/crypto-currency-admin/src/js/demo.js"></script>
    @*<script src="~/Scripts/jquery-3.3.1.js"></script>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
    <script src="~/toastr/toastr.js"></script>
    <link href="~/toastr/toastr.css" rel="stylesheet" />
    <script>
           $('#btnSave_Change_Pass').click(function () {
            var password = $('#txt_oldpass').val();
            var newpass = $('#txt_newpass1').val();
            var newpass_confirm = $('#txt_newpass2').val();
            if (password == "") {
                toastr.error('Mật khẩu không được để trống');
                return false;
            }
            if (newpass == "") {
                toastr.error('Mật khẩu mới không được để trống');
                return false;
            }
            if (newpass_confirm == "") {
                toastr.error('Mật khẩu nhập lại không được để trống');
                return false;
            }
            if (newpass_confirm != newpass) {
                toastr.error('Mật khẩu nhập lại không khớp với mật khẩu mới');
                return false;
            }
            $("#divProcessing").show();
            $.ajax({
                type: "GET",
                url: '@Url.Action("ChangePasss", "HomeAdmin")',
                data: { password: password, newpass: newpass},
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    $("#divProcessing").hide();
                    toastr.success(data, '', setTimeout(5000));
                },
                error: function (req, status, error) {
                    $("#divProcessing").hide();
                }
            });
        })
    </script>
    <script type="text/javascript">

    $(document).ready(function () {
        if ('@TempData["message"]') {
            toastr.success('@TempData["message"]');
        }
        else if ('@TempData["info"]') {
            toastr.info('@TempData["info"]');
        }
        else if ('@TempData["error"]') {
            toastr.error('@TempData["error"]');
        }
        else { }
    });
    </script>
    <script type="text/javascript">
        //    check url
        $(document).ready(function () {
            var pathname = window.location.pathname;
            var action = pathname.split("/");
            var actionrs = action[1].toLowerCase();          
            var listNav = $(".sidebar-menu>.navv");
            for (let i = 0; i < listNav.length; i++) {
                var checktree = $(listNav[i]).hasClass("treeview");
                if (checktree) {
                    var listChil = $(listNav[i].children[1].children);
                    var activechildsuccess = false;
                    for (let z = 0; z < listChil.length; z++) {
                        var path = $(listChil[z]).attr("data").toLowerCase();
                        if (path == actionrs.toLowerCase()) {
                            $(listChil[z]).addClass("active");
                            activechildsuccess = true;
                            break;
                        }
                    }
                    if (activechildsuccess) {
                        $(listNav[i]).addClass("active");
                        break;
                    }
                } else {
                    var path = $(listNav[i]).attr("data").toLowerCase();
                    if (path == actionrs.toLowerCase()) {
                        $(listNav[i]).addClass("active");
                        break;
                    }
                }
            }
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
