﻿<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

            <li class="search-box">
                <a class="nav-link hidden-sm-down" href="javascript:void(0)"><i class="mdi mdi-magnify"></i></a>
                <form class="app-search" style="display: none;">
                    <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                </form>
            </li>

            <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="mdi mdi-bell"></i>
                </a>
                <ul class="dropdown-menu scale-up">
                    <li class="header">You have 7 notifications</li>
                    <li>
                        <!-- inner menu: contains the actual data -->
                        <ul class="menu inner-content-div">
                            <li>
                                <a href="#">
                                    <i class="fa fa-users text-aqua"></i> Curabitur id eros quis nunc suscipit blandit.
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer"><a href="#">View all</a></li>
                </ul>
            </li>
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="~/cryptoadmin/crypto-currency-admin/images/user5-128x128.jpg" class="user-image rounded-circle" alt="User Image">
                </a>
                <ul class="dropdown-menu scale-up">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="~/cryptoadmin/crypto-currency-admin/images/user5-128x128.jpg" class="float-left rounded-circle" alt="User Image">

                        @*<a class="dropdown-item" href="/Profile/Index">@User.Identity.Name</a>
                            <a class="dropdown-item" href="#">Activity Log</a>
                            <div class="dropdown-divider"></div>
                            <form method="post" asp-controller="User" asp-action="Logout">
                                <button type="submit" class="dropdown-item">Đăng xuất</button>
                            </form>*@

                        <p>
                            @User.Identity.Name
                            <a href="/Manage" class="btn btn-danger btn-sm btn-rounded">View Profile</a>
                        </p>
                    </li>
                    <!-- Menu Body -->
                    <li class="user-body">
                        <div class="row no-gutters">
                            <div role="separator" class="divider col-12"></div>
                            <div class="col-12 text-left">
                                <a href="" data-toggle="modal" data-target="#modal-doipass"><i class="ti-settings"></i> Đổi mật khẩu</a>
                            </div>
                            <div role="separator" class="divider col-12"></div>

                            <div class="col-12 text-left">
                                <a href="/Login" id="btnLogoff" class="fa fa-power-off">  Đăng xuất</a>
                            </div>
                        </div>
                        <!-- /.row -->
                    </li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-cog fa-spin"></i></a>
            </li>
        </ul>
    </div>
</nav>
