﻿/* desk */
@media only screen and (max-width: 768px) {
    #result {
        margin-left: 0;
        margin-right: 0;
        padding: 0 !important
    }

    #datatable_wrapper {
        overflow-x: scroll;
    }
}

/* mobi */

@media only screen and (min-width: 768px) {
    #result {
        margin-left: 100px;
        margin-right: 100px;
        padding: 50px !important
    }

    #datatable_wrappe {
    }
}
