﻿/* desk */
@media only screen and (min-width: 768px) {
    #table_tradingperf {
        table-layout: fixed !important;
    }
}



/* mobi */
@media only screen and (max-width: 768px) {
    #table_tradingperf {
        table-layout: auto !important;
    }
}