﻿@using Model.Entities
@model List<Trip>

<script src="~/cryptoadmin/crypto-currency-admin/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js"></script>
<style>
    .thongbao_a:hover {
        color: black !important;
    }

    #pagination_thongbao {
        display: inline-flex;
    }

    .activee {
        background: #507CD1 !important;
    }

        .activee > a {
            color: white !important
        }

            .activee > a:hover {
                color: white !important
            }

    .pagi_item-thongbao {
        border-radius: 5px;
        padding: 4px 10px;
    }

        .pagi_item-thongbao:hover {
            background: #EFF3FB !important;
        }

        .pagi_item-thongbao > a:hover {
            color: black !important;
        }
</style>
@{
    int size = ViewBag.PAGESIZE == null ? 3 : (int)ViewBag.PAGESIZE;
    int count = ViewBag.COUNT == null ? 10 : (int)ViewBag.COUNT;

    int sotrang = count / size;
    if (count % size != 0)
    {
        sotrang = sotrang + 1;
    }
    int thispage = ViewBag.Thispage;
    string rs = "";

    if (thispage == 1) { rs += "<div class=" + '"' + "pagi_item-thongbao" + '"' + "><span>&laquo;</span></div>"; }
    else
    {
        rs += "<div class=" + '"' + "pagi_item-thongbao" + '"' + "><a onclick = " + '"' + "LoadListData(" + (thispage - 1) + ")" + '"' + ">&laquo;</a></div>";
    }
    int checkchamcham = 0;

    if (sotrang < 8)
    {
        for (int i = 1; i <= sotrang; i++)
        {
            if (i == thispage)
            {
                rs += "<div class=" + '"' + "pagi_item-thongbao activee" + '"' + "><a onclick = " + '"' + "LoadListData(" + thispage + ")" + '"' + ">" + thispage + "</a></div>";
            }
            else
            {
                rs += "<div class=" + '"' + "pagi_item-thongbao" + '"' + "><a onclick = " + '"' + "LoadListData(" + i + ")" + '"' + ">" + i + "</a></div>";
            }
        }
    }
    else
    {
        if (sotrang - thispage < 2)
        {
            for (int i = 1; i <= sotrang; i++)
            {
                if (i == thispage)
                {
                    rs += "<div class=" + '"' + "pagi_item-thongbao activee" + '"' + "><a onclick = " + '"' + "LoadListData(" + thispage + ")" + '"' + ">" + thispage + "</a></div>";
                }
                else
                {
                    if (i > 3 && i < (sotrang - 2))
                    {
                        checkchamcham++;
                        if (checkchamcham == 1)
                        {
                            rs += "<div class=" + '"' + "pagi_item-thongbao" + '"' + ">...</span></div>";
                        }
                    }
                    else
                    {
                        rs += "<div class=" + '"' + "pagi_item-thongbao" + '"' + "><a onclick = " + '"' + "LoadListData(" + i + ")" + '"' + ">" + i + "</a></div>";
                    }
                }
            }
        }
        else if (thispage < 5)
        {
            for (int i = 1; i <= sotrang; i++)
            {
                if (i == thispage)
                {
                    rs += "<div class=" + '"' + "pagi_item-thongbao activee" + '"' + "><a onclick = " + '"' + "LoadListData(" + thispage + ")" + '"' + ">" + thispage + "</a></div>";
                }
                else
                {
                    if (i > 5)
                    {
                        checkchamcham++;
                        if (checkchamcham == 1)
                        {
                            rs += "<div class=" + '"' + "pagi_item-thongbao" + '"' + ">...</span></div>";
                            rs += "<div class=" + '"' + "pagi_item-thongbao" + '"' + "><a onclick = " + '"' + "LoadListData(" + sotrang + ")" + '"' + ">" + sotrang + "</a></div>";
                        }
                    }
                    else
                    {
                        rs += "<div class=" + '"' + "pagi_item-thongbao" + '"' + "><a onclick = " + '"' + "LoadListData(" + i + ")" + '"' + ">" + i + "</a></div>";
                    }
                }
            }
        }
        else
        {
            for (int i = 1; i <= sotrang; i++)
            {


                if (i == 3 || i == sotrang - 2)
                {
                    checkchamcham++;
                    if (checkchamcham == 1 || checkchamcham == 2)
                    {
                        rs += "<div class=" + '"' + "pagi_item-thongbao" + '"' + ">...</span></div>";
                    }
                }
                else if (i > 3 && i < sotrang - 2)
                {
                    if (i == thispage)
                    {
                        rs += "<div class=" + '"' + "pagi_item-thongbao" + '"' + "><a onclick = " + '"' + "LoadListData(" + (i - 1) + ")" + '"' + ">" + (i - 1) + "</a></div>";
                        rs += "<div class=" + '"' + "pagi_item-thongbao activee" + '"' + "><a onclick = " + '"' + "LoadListData(" + i + ")" + '"' + ">" + i + "</a></div>";
                        rs += "<div class=" + '"' + "pagi_item-thongbao" + '"' + "><a onclick = " + '"' + "LoadListData(" + (i + 1) + ")" + '"' + ">" + (i + 1) + "</a></div>";
                    }
                }
                else if (i < 3 || i > sotrang - 2)
                {
                    rs += "<div class=" + '"' + "pagi_item-thongbao" + '"' + "><a onclick = " + '"' + "LoadListData(" + i + ")" + '"' + ">" + i + "</a></div>";
                }

            }
        }
    }

    if (thispage < sotrang)
    {
        rs += "<div class=" + '"' + "pagi_item-thongbao" + '"' + "><a  onclick = " + '"' + "LoadListData(" + (thispage + 1) + ")" + '"' + "><span>&raquo;</span></a></div>";
    }
    else
    {
        rs += "<div class=" + '"' + "pagi_item-thongbao" + '"' + "><span>&raquo;</span></div>";
    }
}
<div class="table-responsive">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="text-align:center">Loại xe</th>
                <th style="text-align:center">Ngày đi</th>
                <th style="text-align:center">Giờ đi</th>
                <th style="text-align:center">Điểm đến</th>
                <th style="text-align:center">Người lái</th>
                <th style="text-align:center">Vé online</th>
                <th style="text-align:center">Số vé</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CarType</td>
                        <td>@item.DepartureDate</td>
                        <td>@item.DepartureTime</td>
                        <td>@item.Destination</td>
                        <td>@item.Driver</td>
                        <td>@item.MaxTicketNumerOnline</td>
                        <td>@item.TicketNumber</td>
                        <td style="text-align:center">
                            <button type="button" onclick="opendetail('@item.Id','@item.CarType','@item.DepartureDate','@item.DepartureTime','@item.Destination','@item.Driver','@item.MaxTicketNumerOnline','@item.TicketNumber',)" class="btn btn-round btn-info" data-toggle="modal" data-target="#modeldetail" title="Sửa">Sửa</button>
                            <button type="button" onclick="confirmremove(@item.Id)" class="btn btn-round btn-danger" data-toggle="modal" data-target="#modeldelete" title="Xóa">Xóa</button>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
    <div style="text-align:center;width:100%">
        <div id="pagination_thongbao" class="pagination pagination-responsive">
            @Html.Raw(rs)
        </div>
    </div>
</div>
<script>
    $('#example1').dataTable({
        "pageLength": 10,
        "stateSave": true,
        "order": [],
    });
</script>