﻿@using Model.Entities;
@model Trip;
@{ ViewData["Title"] = "Quản lý Trip"; }
@section Scripts{
}
<link href="~/css/PagedList.css" rel="stylesheet" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh mục Trip
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item active">Danh mục Trip</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <!-- /.modal -->
                    <!-- /.box-header -->
                    <div class="">
                        <div class="row" style="margin:15px">
                            <div class="form-group col-md-2 col-xs-2">
                                <label class="control-label">Năm</label>
                                <select class="form-control" id="year">
                                    <option value="2022">2022</option>
                                    <option value="2021">2021</option>
                                    <option selected value="2020">2020</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2 col-xs-2">
                                <label class="control-label">Tháng</label>
                                <select class="form-control" id="month">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option selected value="12">12</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2 col-xs-2">
                                <label class="control-label">Ngày</label>
                                <select class="form-control" id="day">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option selected value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2 col-xs-2">
                                <label class="control-label">Từ khóa</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input class="form-control pull-right" id="key">
                                </div>
                            </div>
                            <div class="form-group col-md-2 col-xs-2">
                                <label class="control-label">Sort By</label>
                                <select class="form-control" id="type">
                                    <option selected value="STT">STT</option>
                                    <option value="NAME">NAME</option>
                                </select>
                            </div>
                            <input hidden id="pageNum" value="1" />
                            <button type="button" onclick="Search()" class="btn btn-warning">
                                <i class="fa fa-search" title="Tìm kiếm"></i>
                                Tìm kiếm
                            </button>
                        </div>
                        <div class="row" style="margin:10px 15px;float:right">
                            <button type="button" data-toggle="modal" data-target="#modeladd" class="btn btn-success">
                                <i class="fa fa-plus" title="thêm mới"></i>
                                Thêm mới
                            </button>
                        </div>
                    </div>
                    <div class="box-body" id="_partialData">

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="modeladd" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title_naptien">Thêm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" id="createForm" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label class="control-label">Loại xe</label>
                        <input asp-for="CarType" class="form-control" />
                        <span asp-validation-for="CarType" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-xs-6">
                            <label class="control-label">Ngày Đi</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input asp-for="DepartureDate" type="date" class="form-control pull-right" id="datepicker">
                            </div>
                            <span asp-validation-for="DepartureDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 col-xs-6">
                            <label class="control-label">Giờ Đi</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input asp-for="DepartureTime" type="date" class="form-control pull-right" id="datepicker">
                            </div>
                            <span asp-validation-for="DepartureTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 col-xs-4">
                            <label class="control-label">TicketNumber</label>
                            <input asp-for="TicketNumber" type="text" class="form-control" />
                            <span asp-validation-for="TicketNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4 col-xs-4">
                            <label class="control-label">MaxTicketNumerOnline</label>
                            <input asp-for="MaxTicketNumerOnline" type="text" class="form-control" />
                            <span asp-validation-for="MaxTicketNumerOnline" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 col-xs-4">
                            <label class="control-label">Destination</label>
                            <input asp-for="Destination" type="text" class="form-control" />
                            <span asp-validation-for="Destination" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4 col-xs-4">
                            <label class="control-label">Driver</label>
                            <input asp-for="Driver" type="text" class="form-control" />
                            <span asp-validation-for="Driver" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        //<a href="@Url.Action("Index","NhanVien")" class="btn btn-warning">Quay lại</a>
                        <input type="submit" value="Thêm mới" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@*$('#IdEdit').val(id);
    $('#cartype').val(cartype);
    $('#dDate').val(dDate);
    $('#dTime').val(dTime);
    $('#desti').val(desti);
    $('#driv').val(driv);
    $('#maxOnl').val(maxOnl);
    $('#ticknum').val(ticknum);*@
<div class="modal fade" id="modeldetail" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title_naptien">Sửa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" id="editForm" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <input asp-for="Id" id="IdEdit" hidden class="form-control" />
                        <label class="control-label">Loại xe</label>
                        <input asp-for="CarType" id="cartype" class="form-control" />
                        <span asp-validation-for="CarType" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-xs-6">
                            <label class="control-label">Ngày Đi</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input asp-for="DepartureDate" id="dDate" type="date" class="form-control pull-right">
                            </div>
                            <span asp-validation-for="DepartureDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 col-xs-6">
                            <label class="control-label">Giờ Đi</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input asp-for="DepartureTime" id="dTime" type="date" class="form-control pull-right">
                            </div>
                            <span asp-validation-for="DepartureTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 col-xs-4">
                            <label class="control-label">TicketNumber</label>
                            <input asp-for="TicketNumber" id="ticknum" type="text" class="form-control" />
                            <span asp-validation-for="TicketNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4 col-xs-4">
                            <label class="control-label">MaxTicketNumerOnline</label>
                            <input asp-for="MaxTicketNumerOnline" id="maxOnl" type="text" class="form-control" />
                            <span asp-validation-for="MaxTicketNumerOnline" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 col-xs-4">
                            <label class="control-label">Destination</label>
                            <input asp-for="Destination" id="desti" type="text" class="form-control" />
                            <span asp-validation-for="Destination" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4 col-xs-4">
                            <label class="control-label">Driver</label>
                            <input asp-for="Driver" id="driv" type="text" class="form-control" />
                            <span asp-validation-for="Driver" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        //<a href="@Url.Action("Index","NhanVien")" class="btn btn-warning">Quay lại</a>
                        <input type="submit" value="Cập nhật" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modeldelete" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xóa cấu hình</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="form-group">
                        <center>
                            <input type="hidden" name="IdXoa" id="IdXoa" value="" />
                            <h3>Bạn có chăc muốn xóa?</h3>
                        </center>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-offmodel" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnXoa" class="btn btn-success" data-dismiss="modal">Xóa</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="divProcessing" style="position:fixed;top:0px; left:0px; height:100%;width :100%;text-align:center;
         background:#f5f5f5;
         opacity:0.5;
         z-index:999;
         position:absolute;
         left:0px;
         top :0px;
         cursor: wait; display:none">
    <img style="position: fixed;top: 45%;" src="~/Images/processing.gif" alt="" width="70" height="70" />
</div>

<script>

    $(document).ready(function () {
        LoadListData(1);
    });

    function LoadListData(page) {
        var key = $("#key").val();
        var year = $("#year").val();
        var month = $("#month").val();
        var day = $("#day").val();
        var type = $("#type").val();
        var pagesize = 3;
        $('#pageNum').val(page);
        $('#divProcessing').show();
        $.ajax({
            type: "get",
            contentType: 'application/json',
            url: '@Url.Action("GetData", "Trip")',
            data: { key: key, year: year, month: month, day: day, type: type, pagesize: pagesize, page:page },
               dataType: "html",
               success: function (data) {
                   $('#_partialData').html('');
                   $('#_partialData').html(data);
                   $('#divProcessing').hide();
             },
             error: function (error) {
                 $('#divProcessing').hide();
                 console.log('lỗi load dữ liệu: ' + error.responseText);
             }
        });
    }
    function confirmremove(id) {
      $('#IdXoa').val(id);
      //getObj(id);
    }
    function Search() {
        LoadListData($('#pageNum').val());
    }
    
    function opendetail(id, cartype, dDate, dTime, desti, driv, maxOnl, ticknum) {
        @*('@item.Id','@item.CarType','@item.DepartureDate','@item.DepartureTime','@item.Destination','@item.Driver','@item.MaxTicketNumerOnline','@item.TicketNumber',)"*@
        $('#IdEdit').val(id);
        $('#cartype').val(cartype);
        $('#dDate').val(dDate);
        $('#dTime').val(dTime);
        $('#desti').val(desti);
        $('#driv').val(driv);
        $('#maxOnl').val(maxOnl);
        $('#ticknum').val(ticknum);
    }
    $('#btnAdd').click(function () {
        var name = $('#name_add').val();
        var mota = $('#mota_add').val();
        if (name == "") {
            toastr.error('Không được để trống');
            return false;
        }
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("ThemMoi", "Trip")',
                    type: "get",
                    data: { name: name, mota: mota },
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Thêm mới thành công');
                            $('#name_add').val('');
                            LoadListData(1);
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });
    })
    $('#btnXoa').click(function () {
        var id = $('#IdXoa').val();
        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("Xoa", "Trip")',
                    type: "get",
                    data: {id :id},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Xóa thành công');
                            LoadListData(1);
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

    })
    $('#btnEdit').click(function () {
        var id=$('#IdEdit').val();
        var name = $('#name_edit').val();
        var ma = $('#ma_edit').val();
        var mota = $('#mota_edit').val();
        if (name == "" || ma=="") {
            toastr.error('Không được để trống');
            return false;
        }

        $("#divProcessing").show();
                $.ajax({
                    url: '@Url.Action("Sua", "Trip")',
                    type: "get",
                    data: { id: id, ma: ma, name: name, mota: mota},
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $("#divProcessing").hide();
                        if (data == 'OK') {
                            toastr.success('Sửa thành công');
                            $('#IdEdit').val('');
                            $('#name_edit').val('');
                            LoadListData(1);
                        } else {
                            toastr.error(data);
                        }
                    },
                    error: function (err) {
                        //$("#divProcessing").show();
                        alert(err.statusText);
                    }
                });

    })
</script>
